.statsRow {
  /* margin: 0.5em 0;
  display: flex;
  justify-content: space-between; */

  display: flex;
  overflow-x: scroll;
  width: 100%;
  flex-wrap: nowrap;
  padding: 0 0.25em;
}

.statsRow div {
  margin: 0 0.25em;
  min-width: 28%;
}